:root{
	--one:#e28525;
	--two:#016972;
	--three:#00403f;
	--btn:#f2f2f2;
}
*{
	box-sizing:border-box;
}
body{
	background:#eee;
}
.container{
	font-family:arial;
	display:flex;
	width:1000px;
	margin:100px auto;
	
}
.car-one,
.car-two,
.car-three{
	padding:50px;
	flex:1 0 300px;
}
.car-one button,
.car-two button,
.car-three button{
	padding:13px;
	border-radius:30px;
	border:none;
	width:150px;
	font-size:15px;
	margin-top:50px;
	cursor:pointer;
	font-weight:600;
	border:2px solid var(--btn)
}
.car-one button:hover,
.car-two button:hover,
.car-three button:hover{
	background:transparent;
	color:#fffb;
}
.car-one h1,
.car-two h1,
.car-three h1{
	color:var(--btn)
}
.car-one p,
.car-two p,
.car-three p{
	color:#fffa;
	line-height:27px;
}
.car-one{
	background:var(--one);
	border-radius:10px 0 0 10px
}
.car-two{
	background:var(--two)
}
.car-three{
	background:var(--three);
	border-radius:0 10px 10px 0;
}
.car-one button{
	color:var(--one)
}
.car-two button{
	color:var(--two)
}
.car-three button{
	color:var(--three)
}
@media (max-width:600px){
	.container{
		flex-direction:column;
		width:300px;
	}
	.car-one{
		border-radius:10px 10px 0 0;
	}
	.car-three{
		border-radius:0 0 10px 10px;
	}
}
/*************/